.submit-review-text-button {
    font-weight: 700;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 85px;
    background-color: #2B9DC1;
    border-radius: 100px;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.submit-review-text-button img {
    width: 100px;
}

.submit-review-text-button:hover img {
    content: url('BackButtonBlue.png');
}